<div class="container">
  <div id="myimages">
    <h4>My Images</h4>

    <br>
    <br>
    <div *ngFor="let image of images">
      <div class="text-center">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            {{ image.name }}
          </div>
          <img class="card-img-top rounded mx-auto d-block"
               src="{{ image.image }}"
               alt="Card image cap">
          <a class="nav-link" href="#" routerLink="/myimages/{{ image.id }}">
            <div class="{{'card-body bg-' + colorChoice[image.color]}}">
            </div>
          </a>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>


