<div class="container">
  <div id="myimages">
    <h4>My Images</h4>

    <br>
    <br>
    <div *ngFor="let image of images">
      <div class="text-center">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top rounded mx-auto d-block" src="{{ image.image }}"
             alt="Card image cap">
        <a class="nav-link" href="#" routerLink="/myimages/{{ image.id }}">
        <div class="card-body">
          <h5 class="card-title">Name: {{ image.name }}</h5>
          <h5 class="card-title">Color: {{ image.color }}</h5>
        </div>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>


